<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span> Hola {{curs}}</span>
</div>

<h1>Les dades del treballador són:</h1>
<p>Nom: {{nom}} {{cognom}}</p>
<p>Edat: {{edat}}</p>
<p>El seu correu és {{email}}</p>
<p>El treballador està en {{estat_treballador}}</p>
<p>Nomines: {{nomines}}</p>
<table>
  <tr>
    <th>
      Recurregut d'un array amb FOR OF
    </th>
  </tr>
  <tr>
    <th>Elementos del array</th>
  </tr>
  
<tr *ngFor="let item of arr">
  <td>{{item}}</td>
</tr>
</table>

<ol>
  <li *ngFor="let i of arr">{{i}}</li>
</ol>

<h3>Ús directiva *ngIf</h3>
<p>{{alumne}} està fent el curs {{curs}} del cicle {{cicle}}</p>
<p>L'alumne <span *ngIf="cicle != 'DAM'">NO</span> fa DAM</p>

<router-outlet></router-outlet>
